.list {
  display: flex;
  flex-direction: column;
  /*align-items: start;*/
  height: inherit;
  max-height: calc(100vh - 140px);
}

.list__select {
  margin-bottom: 30px;
}

.task-list {
  padding: 20px 5px 20px 10px;
}

.task-list__todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.task-list {
  display: flex;
  flex-direction: column;
  max-height: inherit;
  min-height: inherit;
  background-color: #D0D3DC;
  border-radius: 30px;
  transition: 0.5ms ease all;
  border: 10px;
}

.task-list--display {
  display: flex;
}

.task-list--none {
  display: none;
}

.task-list__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 40px;
  margin-top: 10px;
  max-height: 70px;
  padding-right: 10px;
}

.task-list__buttons a {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.task-list__buttons svg {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  transition: 0.5s;
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.task-list__buttons .pulse:hover {
  animation: pulse 1s infinite;
  opacity: 1;
}

.task-list__buttons .untouchable {
  cursor: default;
}
