@import "sanitize.css";

:root {
  --blue: #2B1887;
  --milk: #F4F2FF;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7e8080, #C1C7D0);
  border-radius: 6px;
}
